body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
	font-size: 62.5%;
	height: 100%;
	background-color: #fff;
	color: #000;
}

body {
	font: normal 1.2em/1.4em Helvetica, Arial, Verdana, sans-serif;
	width: 60em;
	margin: 0 auto;
	padding: 5em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
	font-weight: bold;
	line-height: 3em;
}
h1 {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: .5em;
}

a {
	text-decoration: underline;
}

.repo-desc {
	color: #777;
	font-size: 1.4em;
	margin-bottom: 2.5em;
}

.repo-files,
.patch-summary,
.user-repos {
	margin-bottom: 3em;
}
.repo-files li,
.patch-summary li,
.user-repos li {
	font-size: 1.2em;
}
.repo-files li a,
.patch-summary li a {
	display: block;
	padding: .5em 0 .5em 24px;
}
.repo-files li.up {
	padding: 0;
}
.repo-files li.up a {
	background: url('/public/images/up.gif') no-repeat left 8px;
	border-bottom: .1em dotted;
}
.repo-files li.up a:hover {
	background-color: #f9f9f9;
}
.repo-files li.directory a {
	background: url('/public/images/folder.gif') no-repeat left 8px;
}
.repo-files li.file a {
	background: url('/public/images/file.gif') no-repeat left 7px;
}

.repo-log {
	margin-bottom: 3em;
}
.repo-log li {
	padding: 1em 1em 2em;
	border-bottom: .1em dotted;
}
.repo-log li h2,
.patch-changes li h2 {
	font-size: 1.5em;
}
.repo-log li h2 .date,
.patch-changes li h2 .line {
	font-size: .9em;
	color: #777;
}
.repo-log li p {
	font-size: 1.2em;
	line-height: 1.4em;
}

table.sourceCode {
	font-size: 1.1em;
}

div.code,
div.readme {
	overflow: auto;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}

div.readme {
	padding: 1em;
}
div.readme p {
	padding-bottom: 1em;
}
div.readme h1 {
	font-size: 3em;
}
div.readme h2 {
	font-size: 2em;
}
div.readme h3 {
	font-size: 1.4em;
}


.patch-changes {
	margin-top: 1em;
}
.patch-changes li {
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: .1em dotted;
}
.patch-changes li h2 {
	font-size: 1.4em;
}

.removed, .added {
	margin-left: -2em;
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 1em solid;
}
.removed {
	border-color: #c22;
}
.added {
	border-color: #61c423;
}

.patch-summary li.summary-added {
	background: url('/public/images/added.gif') no-repeat left 8px;
}
.patch-summary li.summary-removed {
	background: url('/public/images/removed.gif') no-repeat left 8px;
}
.patch-summary li.summary-modified {
	background: url('/public/images/modified.gif') no-repeat left 8px;
}

.user-repos li {
	padding: .5em 0;
}