body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
	font-size: 62.5%;
	height: 100%;
	background-color: #fff;
	color: #000;
}

body {
	font: normal 1.2em/1.4em Helvetica, Arial, Verdana, sans-serif;
	width: 60em;
	margin: 0 auto;
	padding: 5em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
	font-weight: bold;
	line-height: 3em;
}
h1 {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: .5em;
}

a {
	text-decoration: underline;
}

form {
	padding: 1em;
	border: .1em dotted;
	float: left;
}
form.subtle {
    padding: 0;
    border: 0;
    float: none;
}
form .field {
	clear: both;
	margin-bottom: .75em;
	font-size: 1.2em;
}
form div br {
	clear: both;
}
form label {
	float: right;
	display: inline-block;
	text-align: right;
	margin-right: 1em;
	font-family: monospace;
	padding: .5em;
}
form input[type="text"],
form input[type="password"],
form textarea {
	background: #000;
	color: #fff;
	font-family: monospace;
	border: 0;
	padding: .5em;
	float: right;
	width: 12em;
	font-size: 1em;
}
form input[type="checkbox"] {
	vertical-align: middle;
	margin-top: -.1em;
}
form .field > ul,
form .field .inline-wrapper {
	float: right;
	font-family: monospace;
	width: 12.83em;
	padding: .5em 0;
}
form textarea {
	width: 20em;
}
form .buttons input[type="submit"] {
	float: right;
}
form .note {
	display: block;
	clear: both;
	text-align: right;
	font-family: monospace;
}
form.big input[type="text"],
form.big input[type="password"] {
	margin-right: 8em;
}
form .cancel-buttons {
	font-size: 1.2em;
	color: #777;
}
form .cancel-buttons a.cancel {
	color: #f00;
	font-weight: bold;
}

.head {
    line-height: 1.5em;
    margin-bottom: 1.2em;
}

.footer {
	margin-top: 4em;
	padding: 1em 0;
	font-size: 1.2em;
	border-top: .1em dotted #ccc;
	color: #777;
	line-height: 1.4em;
	font-family: monospace;
}
.footer .tg {
	float: right;
}
.footer a:hover {
	color: #000;
}

.blurb {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #777;
	margin-bottom: .5em;
}

.notification {
	padding: .5em;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.notification.warning {
	background: #c22;
	color: #fff;
}
.notification.success {
	background: #61c423;
	color: #fff;
}
.notification.message {
	background: #2272cc;
	color: #fff;
}

.links {
	float: right;
}
.links li {
	font-size: 1.5em;
	display: inline-block;
	margin-left: .5em;
}
.links li a {
	font-family: monospace;
	padding: .5em 0 .5em 21px;
}
.links li.edit a {
	background: url('/public/images/edit.gif') no-repeat left 8px;
}
.links li.delete a {
	background: url('/public/images/delete.gif') no-repeat left 8px;
}
.links li.fork a {
	background: url('/public/images/fork.gif') no-repeat left 8px;
}
.links li.changes a {
	background: url('/public/images/log.gif') no-repeat left 8px;
}
.links.nav li {
	font-size: 2em;
    line-height: 1em;
	font-weight: bold;
}
.links.nav li.settings a {
	background: url('/public/images/settings.gif') no-repeat left 13px;
}
.links.nav li.logout a {
	background: url('/public/images/logout.gif') no-repeat left 13px;
}
.links.nav li.login a {
	background: url('/public/images/login.gif') no-repeat left 13px;
}
.links.nav li.register a {
	background: url('/public/images/register.gif') no-repeat left 13px;
}

.repo-desc,
.repo-empty {
	color: #777;
	font-size: 1.4em;
	margin-bottom: 2em;
}
.repo-desc .repo-fork {
	color: #aaa;
}
.repo-desc .repo-fork a {
	color: #777;
}
.repo-empty code {
	color: #000;
	font-size: 1.2em;
}

.private-repo {
    padding-right: 22px;
	background: url('/public/images/private.gif') no-repeat right 4px;
}
.user-repos li .private-repo {
    padding-right: 20px;
    background-position: right 1px;
}

.repo-files,
.patch-summary,
.user-repos {
	margin-bottom: 3em;
}
.repo-files li,
.patch-summary li,
.user-repos li {
	font-size: 1.2em;
}
.repo-files li a,
.patch-summary li a,
.patch-summary li.summary-preference,
.patch-summary li.summary-removed,
.patch-summary li.summary-replace {
	display: block;
	padding: .5em 0 .5em 24px;
}
.patch-summary li.summary-replace a {
  display: inline;
  padding: 0;
}
.repo-files li.up {
	padding: 0;
}
.repo-files li.up a {
	background: url('/public/images/up.gif') no-repeat left 8px;
	border-bottom: .1em dotted;
}
.repo-files li.up a:hover {
	background-color: #f9f9f9;
}
.repo-files li.directory a {
	background: url('/public/images/folder.gif') no-repeat left 8px;
}
.repo-files li.file a {
	background: url('/public/images/file.gif') no-repeat left 7px;
}

.repo-log {
	margin-bottom: 3em;
}
.repo-log li {
	padding: 1em 1em 2em;
	border-bottom: .1em dotted;
}
.repo-log li h2,
.patch-changes li h2 {
	font-size: 1.5em;
}
.repo-log li h2 .date,
.patch-changes li h2 .line {
	font-size: .9em;
	color: #777;
}
.repo-log li p {
	font-size: 1.2em;
	line-height: 1.4em;
}
.repo-log li div.patch-notes {
    margin-top: 2em;
}
.repo-log li div.patch-notes pre {
    font-size: 1.2em;
    padding: 1em;
}

table.sourceCode,
.patch-changes pre.sourceCode {
	font-size: 1.2em;
	line-height: 1.4em;
}
table.sourceCode .lineNumbers {
    background: #000;
    color: #fff;
}
table.sourceCode .lineNumbers .lineNumber {
    text-decoration: none;
}
table.sourceCode .lineNumbers .lineNumberActive {
    color: #f22;
    font-weight: bold;
}

div.code,
div.markdown {
	overflow: auto;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}

div.markdown {
	padding: 1em;
}
div.markdown p,
div.markdown ul {
	padding-bottom: 1em;
}
div.markdown ul li {
    list-style: square;
}
div.markdown h1 {
	font-size: 3em;
    margin-top: .5em;
}
div.markdown h2 {
	font-size: 2em;
}
div.markdown h3 {
	font-size: 1.4em;
}
div.markdown pre {
    font-size: 1.2em;
    background: #000;
    color: #fff;
    padding: .6em 1em;
    margin-bottom: 1em;
}


.patch-changes {
	margin-top: 1em;
}
.patch-changes li {
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: .1em dotted;
}
.patch-changes li h2 {
	font-size: 1.4em;
}

.removed, .added {
	margin-left: -2em;
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 1em solid;
}
.removed {
	border-color: #c22;
}
.added {
	border-color: #61c423;
}

.patch-summary li.summary-added {
	background: url('/public/images/added.gif') no-repeat left center;
}
.patch-summary li.summary-removed {
	background: url('/public/images/removed.gif') no-repeat left center;
}
.patch-summary li.summary-modified {
	background: url('/public/images/modified.gif') no-repeat left center;
}
.patch-summary li.summary-preference {
	background: url('/public/images/preference.gif') no-repeat left center;
}

.pagination {
	font-family: monospace;
	font-size: 1.2em;
}
.pagination li {
	float: left;
	margin-right: 1em;
}
.pagination li a {
	background: #000;
	color: #fff;
	padding: .5em .75em;
	text-decoration: none;
	border: .1em dotted #fff;
}
.pagination li a:hover {
	text-decoration: underline;
}
.pagination li a:active {
	background: #fff;
	border-color: #000;
	color: #000;
}

.repo-list {
	margin-top: 1em;
}
.repo-list li {
	margin-bottom: 2em;
}
.repo-list li .title {
	font-family: monospace;
	font-size: 1.5em;
	line-height: 2em;
}
.repo-list li .title .repo-name {
	font-weight: bold;
}
.repo-list li .repo-desc {
	margin-bottom: 0;
}

.user-repos li {
	padding: .5em 0;
}

.fork-log {
    width: 100%;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}
.fork-log tr td {
    padding: .75em;
    font-size: 1.2em;
    font-family: monospace;
    text-align: left;
}
.fork-log tr td.merge {
    width: 4%;
    background: #000;
    text-align: center;
}
.fork-log tr td input {
    vertical-align: middle;
}
.fork-log tr td.name {
    width: 46%;
}
.fork-log tr td.author {
    width: 18%;
    font-weight: bold;
    background: #f9f9f9;
    text-align: center;
}
.fork-log tr td.date {
    width: 22%;
    text-align: right;
}

.clear {
	clear: both;
}
