body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: inherit; font-weight: inherit; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
	font-size: 62.5%;
	height: 100%;
	background-color: #fff;
	color: #000;
}

body {
	font: normal 1.2em/1.4em Helvetica, Arial, Verdana, sans-serif;
	width: 60em;
	margin: 0 auto;
	padding: 5em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
	font-weight: bold;
	line-height: 3em;
}
h1 {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: .5em;
}

a {
	text-decoration: underline;
}

form {
	padding: 1em;
	border: .1em dotted;
	float: left;
}
form.dependencies {
    padding: 0;
    border: 0;
    float: none;
}
form .field {
	clear: both;
	margin-bottom: .75em;
	font-size: 1.2em;
}
form div br {
	clear: both;
}
form label {
	float: right;
	display: inline-block;
	text-align: right;
	margin-right: 1em;
	font-family: monospace;
	padding: .5em;
}
form input[type="text"],
form input[type="password"],
form textarea {
	background: #000;
	color: #fff;
	font-family: monospace;
	border: 0;
	padding: .5em;
	float: right;
	width: 12em;
	font-size: 1em;
}
form input[type="checkbox"] {
	vertical-align: middle;
	margin-top: -.1em;
}
form .field > ul,
form .field .inline-wrapper {
	float: right;
	font-family: monospace;
	width: 12.83em;
	padding: .5em 0;
}
form textarea {
	width: 20em;
}
form .buttons input[type="submit"] {
	float: right;
}
form .note {
	display: block;
	clear: both;
	text-align: right;
	font-family: monospace;
}
form.big input[type="text"],
form.big input[type="password"] {
	margin-right: 8em;
}
form.big h3 {
    margin-right: 7.25em;
	float: right;
	width: 12em;
	font-size: 1.3em;
}
form hr {
    width: 25em;
    margin: 2em auto;
    border: 0;
    border-bottom: .1em dotted #bbb;
}
form .cancel-buttons {
	font-size: 1.2em;
	color: #777;
}
form .cancel-buttons a.cancel {
	color: #f00;
	font-weight: bold;
}

.head {
    line-height: 1.5em;
    margin-bottom: 1.2em;
}

.footer {
	margin-top: 4em;
	padding: 1em 0;
	font-size: 1.2em;
	border-top: .1em dotted #ccc;
	color: #777;
	line-height: 1.4em;
	font-family: monospace;
}
.footer .tg {
	float: right;
}
.footer a:hover {
	color: #000;
}

.blurb {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #777;
	margin-bottom: .5em;
}

.notification {
	padding: .5em;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.notification.warning {
	background: #c22;
	color: #fff;
}
.notification.success {
	background: #61c423;
	color: #fff;
}
.notification.message {
	background: #2272cc;
	color: #fff;
}

.links {
    width: 10em;
}
.links li {
    padding: .5em 0;
	margin-left: .5em;
}
.links li a,
a.button {
    display: inline-block;
    font-size: 1.5em;
	font-family: monospace;
    margin-right: .25em;
    padding: .4em .5em .4em 2em;
    border: .1em solid #ddd;
    text-decoration: none;
    background: #fff;
}
.links li a:hover,
a.button:hover {
    position: relative;
    top: -3px;
    left: -3px;
    -webkit-box-shadow: 1px 1px 0 #eee, 2px 2px #eee, 3px 3px #eee;
    -moz-box-shadow: 1px 1px 0 #eee, 2px 2px #eee, 3px 3px #eee;
    -webkit-transition: all 0.125s ease-out;
}
.links li a:active,
a.button:active {
    background-color: #eee !important;
}
.links li.edit a {
	background: #fff url('/public/images/edit.gif') no-repeat 6px 5px;
}
.links li.delete a {
	background: #fff url('/public/images/delete.gif') no-repeat 6px 5px;
}
.links li.changes a {
	background: #fff url('/public/images/log.gif') no-repeat 6px 6px;
}
.links li.fork a {
	background: #fff url('/public/images/fork.gif') no-repeat 6px 5px;
}
.links li.patches a {
	background: #fff url('/public/images/patches.gif') no-repeat 6px 5px;
}
.links li.issues a {
	background: #fff url('/public/images/issues.gif') no-repeat 6px 5px;
}
.links li.settings a {
	background: url('/public/images/settings.gif') no-repeat 6px 5px;
}
.links li.logout a {
	background: url('/public/images/logout.gif') no-repeat 6px 5px;
}
.links li.login a {
	background: url('/public/images/login.gif') no-repeat 6px 5px;
}
.links li.register a {
	background: url('/public/images/register.gif') no-repeat 6px 5px;
}
.links li.explore a {
	background: url('/public/images/explore.gif') no-repeat 6px 5px;
}
.repo .links {
    float: left;
    text-align: right;
    margin-left: -12em;
    position: relative;
}
.links.nav {
    float: right;
    margin-right: -12em;
}

.repo-desc,
.repo-empty {
	color: #777;
	font-size: 1.4em;
    margin-bottom: 2em;
}
.repo-empty {
    margin-bottom: 2em;
}
.repo-desc .repo-fork {
	color: #aaa;
}
.repo-desc .repo-fork a {
	color: #777;
}
.repo-empty code {
	color: #000;
	font-size: 1.2em;
}

.private-repo {
    padding-right: 22px;
	background: url('/public/images/private.gif') no-repeat right 4px;
}
.user-repos li .private-repo {
    padding-right: 20px;
    background-position: right 1px;
}

.repo-files,
.patch-summary,
.user-repos {
	margin-bottom: 3em;
}
.repo-files li,
.patch-summary li,
.user-repos li {
	font-size: 1.2em;
}
.repo-files li a,
.patch-summary li a,
.patch-summary li.summary-preference,
.patch-summary li.summary-removed,
.patch-summary li.summary-replace {
	display: block;
	padding: .5em 0 .5em 24px;
}
.patch-summary li.summary-replace a {
  display: inline;
  padding: 0;
}
.repo-browse h1.path {
	border-bottom: .1em dotted;
    padding-bottom: .5em;
}
.repo-files li.directory a {
	background: url('/public/images/folder.gif') no-repeat left 8px;
}
.repo-files li.file a {
	background: url('/public/images/file.gif') no-repeat left 7px;
}

.repo-log {
	margin-bottom: 3em;
}
.repo-log li {
	padding: 1em 1em 2em;
	border-bottom: .1em dotted;
}
.repo-log li h2,
.patch-changes li h2 {
	font-size: 1.5em;
}
.repo-log li h2 .date,
.patch-changes li h2 .line {
	font-size: .9em;
	color: #777;
}
.repo-log li p {
	font-size: 1.2em;
	line-height: 1.4em;
}
.repo-log li .patch-notes {
    margin-top: 2em;
}
.repo-log li .patch-notes pre {
    font-size: 1.2em;
    padding: 1em;
}

table.highlighttable .linenos,
.highlight {
	font-size: 1.2em;
	line-height: 1.4em;
}
table.highlighttable .linenos {
    background: #000;
    color: #fff;
}
table.highlighttable .linenos a {
    text-decoration: none;
    padding: 0 .5em;
}
table.highlighttable .linenos a:target {
    color: #f22;
    font-weight: bold;
}
table.highlighttable .code .highlight {
    padding: 0 .5em;
}

code,
.markdown {
	overflow: auto;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}
.markdown .highlight pre {
    background: #fff;
    color: #000;
}

.markdown {
	padding: 1em 1em 0;
}
.markdown p,
.markdown ul {
	padding-bottom: 1em;
}
.markdown ul li {
    list-style: square;
}
.markdown h1 {
	font-size: 3em;
    margin-top: .5em;
}
.markdown h2 {
	font-size: 2em;
}
.markdown h3 {
	font-size: 1.4em;
}
.markdown pre {
    font-size: 1.2em;
    background: #000;
    color: #fff;
    padding: .6em 1em;
    margin-bottom: 1em;
}
.markdown em {
    font-style: italic;
}
.markdown strong {
    font-weight: bold;
}
.markdown code {
    font-family: monospace;
}


.patch-changes {
	margin-top: 1em;
}
.patch-changes li {
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: .1em dotted;
}
.patch-changes li h2 {
	font-size: 1.4em;
}

.removed, .added {
	margin-left: -2em;
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 1em solid;
}
.removed {
	border-color: #c22;
}
.added {
	border-color: #61c423;
}

.patch-summary li.summary-added {
	background: url('/public/images/added.gif') no-repeat left center;
}
.patch-summary li.summary-removed {
	background: url('/public/images/removed.gif') no-repeat left center;
}
.patch-summary li.summary-modified {
	background: url('/public/images/modified.gif') no-repeat left center;
}
.patch-summary li.summary-preference {
	background: url('/public/images/preference.gif') no-repeat left center;
}

.pagination {
	font-family: monospace;
	font-size: 1.2em;
}
.pagination li {
	float: left;
	margin-right: 1em;
}
.pagination li a {
	background: #000;
	color: #fff;
	padding: .5em .75em;
	text-decoration: none;
	border: .1em dotted #fff;
}
.pagination li a:hover {
	text-decoration: underline;
}
.pagination li a:active {
	background: #fff;
	border-color: #000;
	color: #000;
}

.repo-list {
	margin-top: 1em;
}
.repo-list > li {
	margin-bottom: 2em;
}
.repo-list li .title {
	font-family: monospace;
	font-size: 1.5em;
	line-height: 2em;
}
.repo-list li .title .repo-name {
	font-weight: bold;
}
.repo-list li .repo-desc {
	margin-bottom: 0;
}
.repo-list li .repo-forks-wrap {
    margin: 1em;
    padding: 1em 1em 0;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;

}
.repo-list li .repo-forks-wrap h3 {
    font-size: 1.5em;
    padding-bottom: 0;
    margin: 0;
    padding-bottom: .4em;
    line-height: 1em;
}
.repo-forks.links {
    margin: 0;
    width: auto;
}
.repo-forks.links li {
    margin: 0;
    padding: 0;
    display: block;
}
.repo-forks.links li a {
    float: left;
    margin: 0 1em 1em 0;
    padding: .5em .75em;
    font-weight: bold;
    font-size: 1.1em;
}
.repo-forks.links li a:hover {
    color: #555;
}

.user-repos li {
	padding: .5em 0;
}

.fork-log {
    width: 100%;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}
.fork-log tr td {
    padding: .75em;
    font-size: 1.2em;
    font-family: monospace;
    text-align: left;
}
.fork-log tr td.merge {
    width: 4%;
    background: #000;
    text-align: center;
}
.fork-log tr td input {
    vertical-align: middle;
}
.fork-log tr td.name {
    width: 46%;
}
.fork-log tr td.author {
    width: 18%;
    font-weight: bold;
    background: #f9f9f9;
    text-align: center;
}
.fork-log tr td.date {
    width: 22%;
    text-align: right;
}

.new-issue.button {
    background: #fff url('/public/images/new.gif') no-repeat 6px 5px;
    margin-bottom: 1.5em;
}
.issues-list .issue {
    padding: 1em;
    margin-bottom: 2em;
	-webkit-box-shadow: #ddd 0 0 1em;
	-moz-box-shadow: #ddd 0 0 1em;
}
.issues-list .issue .header {
    margin-bottom: .5em;
    background: #f5f5f5;
    padding: .75em;
    margin: -1em -1em 1em;
    position: relative;
}
.issues-list .issue .header h2 {
    font-size: 1.4em;
    line-height: 1em;
}
.issues-list .issue .header .tags {
    position: absolute;
    top: .1em;
    right: .6em;
    margin-top: .5em;
}
.issues-list .issue .header .tags li {
    display: inline;
    margin-left: .5em;
}

.tags li a {
    font-family: monospace;
    padding: .25em .5em;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: .5em;
}
.tags li a:hover {
    position: relative;
    top: -2px;
    left: -2px;
    background: #666;
    -webkit-box-shadow: 1px 1px 0 #000, 2px 2px #000;
    -moz-box-shadow: 1px 1px 0 #000, 2px 2px #000;
    -webkit-transition: all 0.125s ease-out;
}

.issue .description .user-info {
    padding: .75em;
    float: right;
    background: #222;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0 0 1em 1em;
}
.issue .description .user-info img {
    display: block;
    margin-bottom: .5em;
    border: .5em solid #111;
}
.user-info a {
    text-decoration: none;
}

.issue-comments {
    margin-top: 2em;
}
.issue-comments .comment {
    margin: 0 0 2em;
}
.issue-comments .user-info {
    background: #f5f5f5;
    /*color: #fff;*/
    padding: .5em;
    margin: -1em -1em 1em -1em;
    font-weight: bold;
}
.issue-comments .user-info img {
    border: .25em solid #ddd;
    margin: -.5em;
    vertical-align: middle;
    margin-right: .75em;
}
.issue-comments .user-info .name {
    position: relative;
    bottom: -.1em;
}
.issue-comments .changes {
    list-style: none;
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 1em 1em 1em 2.5em;
    background: #f5f5ff;
    -webkit-box-shadow: inset 0 0 1em #eee;
}

.issue-revise {
    margin-top: 4em;
}
.issue-revise .issue-tags {
    width: 12em;
    float: right;
    background: #f5f5ff;
    -webkit-box-shadow: inset 0 0 1em #ddd;
    padding: 2em;
}
.issue-revise label {
    display: block;
    font-weight: bold;
}
.issue-revise select {
    margin-bottom: 2em;
}
.issue-revise .tags li {
    margin-bottom: .5em;
}
.issue-revise .tags .kill {
    margin-right: .75em;
    -webkit-border-radius: .6em;
    padding: 0;
    background: #111 url('/public/images/delete-small.gif') no-repeat center center;
    float: left;
    width: 10px;
    height: 10px;
    margin-top: .35em;
}
.issue-revise .tags .kill:hover {
    background-color: #444;
    -webkit-box-shadow: none;
    position: static;
}
.issue-revise .tags .kill:active {
    background-color: #000;
}

form.issue-comment {
    width: 40em;
    float: none;
}
form.issue-comment input,
form.issue-comment input[type="submit"],
form.issue-comment textarea,
form.issue-comment label {
    float: none;
}
form.issue-comment input[type="text"] {
    width: 20em;
}
form.issue-comment textarea {
    width: 40em;
    margin: 0;
}
form.issue-comment #summary {
    background: #222;
}
form.issue-comment .buttons {
    width: 20em;
    margin: 0 auto;
}
form.issue-comment .buttons input {
    position: relative;
    border: 0;
    padding: 1em;
    color: #fff;
    background: transparent;
    width: 10em;
    -webkit-border-radius: 1em;
}
form.issue-comment .buttons input:hover {
    cursor: pointer;
    -webkit-transition: all 0.125s ease-out;
}
form.issue-comment .buttons:hover #submit-comment {
    background: #333;
}
form.issue-comment .buttons #submit-comment {
    z-index: 2;
    background: #000;
    width: 13em;
}
form.issue-comment .buttons #submit-close {
    z-index: 1;
    background: #222;
    padding: 1em 1em 1em 4em;
    width: 10em;
    margin-left: -3em;
}
form.issue-comment .buttons #submit-close:hover {
    background: #333;
}

.clear {
	clear: both;
}
