<pre>Viewing:
{{user}}
{{env}}

{% if in %}
In:
{{in}}
{% endif %}
{% if passed %}
Passed:
{{passed}}
{% endif %}</pre>

{% if failed %}
Failed:
<ul>
  {% for fail in failed %}
  <li>{{ fail }}</li>
  {% endfor %}
</ul>
{% endif %}


<form method="post">
  <label for="name">Name</label>
  <input name="name" value="{{in.name}}"><br />
  <label for="email">Email</label>
  <input name="email" value="{{in.email}}"><br />
  <label for="password">Password</label>
  <input name="password1"><br />
  <label for="password">Password, again</label>
  <input name="password2"><br />
</form>
