{% extends "html/base.html" %}

{% block title %}{{user.uName}}'s {{repo.rName}} :: darcsden{% endblock %}

{% block crumb %}
<a href="/{{user.uName}}">{{user.uName}}</a>
-&gt; <a href="/{{user.uName}}/{{repo.rName}}">{{repo.rName}}</a>
{% for d in path %}
-&gt; <a href="{{d.iURL}}">{{d.iName}}</a>
{% endfor %}
{% endblock %}

{% block content %}
<p class="repo-desc">{{repo.rDescription}}{% if repo.rWebsite %} &mdash; <a href="{{repo.rWebsite}}">{{repo.rWebsite}}</a>{% endif %}</p>

<h1>changelog</h1>
<ul class="repo-log">
  {% for log in patches %}
  <li>
	<h2>
	  {% if log.pAuthor.Right %}
	  <a href="/{{log.pAuthor.Right.uName}}">{{log.pAuthor.Right.uName}}</a>
	  {% else %}
	  {{log.pAuthor.Left}}
	  {% endif %}
	  :: <span class="relatize date">{{log.pDate}}</span>
	</h2>
	<p><a href="/{{user.uName}}/{{repo.rName}}/patch/{{log.pID}}">{{log.pName}}</a></p>
  </li>
  {% endfor %}
</ul>
{% endblock %}

