{% extends "html/base.html" %}

{% block crumb %}
<a href="/{{user.uName}}">{{user.uName}}</a>
-&gt; <a href="/{{user.uName}}/{{repo.rName}}">{{repo.rName}}</a>
{% for d in path %}
-&gt; <a href="{{d.iURL}}">{{d.iName}}</a>
{% endfor %}
{% endblock %}

{% block content %}
<p class="repo-desc">{{repo.rDescription}}{% if repo.rWebsite %} &mdash; <a href="{{repo.rWebsite}}">{{repo.rWebsite}}</a>{% endif %}</p>

<h1>patch</h1>
<ul class="repo-log">
  <li>
	<h2>
	  {% if log.pAuthor.Right %}
	  <a href="/{{log.pAuthor.Right.uName}}">{{log.pAuthor.Right.uName}}</a>
	  {% else %}
	  {{log.pAuthor.Left}}
	  {% endif %}
	  :: <span class="date">{{log.pDate.ctWDay}}, {{log.pDate.ctMonth}} {{log.pDate.ctDay}} @ {{log.pDate.ctHour}}:{{log.pDate.ctMin}} {{log.pDate.ctTZName}}</span>
	</h2>
	<p><a href="/{{user.uName}}/{{repo.rName}}/patch/{{log.pID}}">{{log.pName}}</a></p>
  </li>
</ul>

<h1>summary</h1>
<ul class="patch-summary">
  {% for change in summary %}
  <li class="summary-{{change.type}}"><a href="#{{change.file}}">{{change.file}}</a></li>
  {% endfor %}
</ul>

{% if changes %}
<h1>changes</h1>
<ul class="patch-changes">
  {% for change in changes %}
  <li>
	<h2>{{change.FileChange.cfName}} :: <span class="line">line {{change.FileChange.cfType.FileHunk.fchLine}}</span></h2>
	<div class="removed">{{{change.FileChange.cfType.FileHunk.fchRemove}}}</div>
	<div class="added">{{{change.FileChange.cfType.FileHunk.fchAdd}}}</div>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
