{% extends "html/base.html" %}

{% block title %}{{user.uName}} :: darcsden{% endblock %}

{% block crumb %}<a href="/{{user.uName}}">{{user.uName}}</a>{% endblock %}

{% block content %}
<br />
<h1>{{user.uName}}'s repositories</h1>
<ul class="user-repos">
  {% for repo in repositories %}
  <li>
	<a href="{{repo.rOwner}}/{{repo.rName}}">{{repo.rName}}</a>
	&mdash; {{repo.rDescription}}
	{% if repo.rWebsite %}
	(<a href="{{repo.rWebsite}}">{{repo.rWebsite}}</a>)
	{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
